*{
	padding: 0px;
	margin: 0px;
}

.carrusel{
	width: auto;
	height: 100vh;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.carrusel_imagen{
width: 100%;
height: 80%;
background-color: green;
display: flex;
justify-content: center;
align-items: center;
}
.carrusel_imagen img{
width: auto;
height: 90%;
border: 1px solid black;
}
.carrusel_miniaturas{
width: 100%;
height: 20%;
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
.carrusel_miniaturas img{
width: auto;
height: 90%;
background-color: blue;
margin: 10px;
border: 1px solid black;
border-radius: 10px;
}
.carrusel_miniaturas img:hover{
width: auto;
height: 95%;
background-color: blue;
margin: 10px;
border: 2px solid black;
border-radius: 10px;
filter: brightness(150%);
cursor: pointer;
}
.carrusel [type=button]{
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
width: 30px;
height: 30px;
}